* {
    padding:0;
    margin:0;
    vertical-align:baseline;
    list-style:none;
    border:0
    }
/*---------------Corpo--------------------------*/
body{
        background-color: black;
}

button{
    width: 120px;
    height: 40px;
    border-radius: 15px;
    background-color: grey;
    
}
/*--------------Class---------------------------------*/
.titulo{
    color: white;
    text-align: center;
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.lamp{
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: 6em
}
.desligado{
    margin-top: 10px;
    margin-left: 0px;   

}
.ligado{
    margin-top: 10px;
    margin-left: 42%;
}
.ligado:hover{
    background: green;
    font-weight: bold;
}
.desligado:hover{
    background-color: red;
    font-weight: bold;
}